
@font-face {
    font-family: 'luminariregular';
    src: url('../fonts/luminari-webfont.woff2') format('woff2'),
         url('../fonts/luminari-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'luminariregular';
    font-size: 2em;
}