
@font-face {
    font-family: 'luminariregular';
    src: url('../fonts/luminari-webfont.woff2') format('woff2'),
         url('../fonts/luminari-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'luminariregular';
    font-size: 3em;
}

h2 {
    font-weight: 800;
    margin: 1em;
}

blockquote p, blockquote{
    &::first-letter {
        initial-letter: 2;
        font-family: 'luminariregular';
        font-size:xx-large;
        &:before{
            display: block;
            padding-left: 10px;
            content: "\201C";
            font-size:xx-large;
            font-family: 'luminariregular';
        }
    }
    
}

th {
    background-color: #eee;
}

table {
    margin-top: 1em;
}

td img, td svg {
    max-width: 40px; 
    width: 100%; 
    height: auto;
    overflow: visible
}
