appdirs
appnope
bezmerizing @ https://github.com/aparrish/bezmerizing/archive/master.zip
blis
catalogue
decorator
distlib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flat
hashids
idna
jupyter-client
jupyter-core
markovify
numpy
packaging
parso
pathy
pexpect
pickleshare
preshed
prompt-toolkit
ptyprocess
pydantic
pyenchant
Pygments
pyparsing
pyunpack
requests
scipy
six
spacy
spacy-legacy
srsly
thinc
tornado
tqdm
traitlets
typer
Unidecode
